discord.py==1.7.2

python-dotenv==0.14.0

requests_async==0.6.2
aiocfscrape==1.0.0

aioify==0.4.0
googletrans==4.0.0-rc1
translatepy==1.7

emoji_country_flag==1.2.1
pycountry==19.8.18

beautifulsoup4==4.9.1

dotmap==1.3.23

upsidedown==0.4
unidecode==1.2.0

jishaku==2.0.0

discord-py-slash-command==2.3.2